@media (min-width: 836px) and (max-width: 1210px) {
    .center {
        padding-left: calc(50% - 395px);
        padding-right: calc(50% - 395px);
    }
    .main .numberone {
        height: 551px;
    }
    .main .numberthree {
        height: 551px;
    }
    .main .numberfive {
        padding-bottom: 32px;
        height: 551px;
    }
    .main .numbertwo {
        height: 551px;
    }
    .main__content {
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(2, 381px);
        justify-content: center;
        padding-bottom: 32px;
    }
    .minigames  {
        display: none;
    }
}

@media (min-width: 766px) and (max-width: 835px) {
    .center {
        padding-left: calc(50% - 395px);
        padding-right: calc(50% - 395px);
    }

    .animated {
        display: flex;
        justify-content: flex-end;
    }

    .main__content {
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(2, 381px);
        justify-content: center;
    }
    

    .header__title {
        position: relative;
        z-index: 2;
        text-align: center;
    }

    .header__rightstar {
        display: flex;
        position: absolute;
        right: -58px;
        top: -80px;
        z-index: 0;
        scale: 0.8;
    }

    .header__title-disc {
        position: relative;
        z-index: 2;
        text-align: center;
    }

    .header__downstars {
        display: none;
    }

    .header__button-link {
        text-align: center;
    }

    .minigames {
        display: none;
    }
}