html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "arial";
  font-size: 16px;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 710px;
  background-color: rgb(225, 255, 143);
  background-size: cover;
  padding-top: 196px;
  box-sizing: border-box;
  position: relative;
}
.header__upstars {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 36px;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 94px;
  left: 63px;
  z-index: 1;
}
.header__downstars {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 36px;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 344px;
  bottom: 149px;
  z-index: 1;
}
.header__rightstar {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 1;
}

.animated {
  background-color: rgb(188, 236, 48);
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  white-space: nowrap;
}
.animated__strip-text {
  height: 36px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 51px;
  text-wrap-mode: nowrap;
  animation: moveLeft 21s linear infinite;
}
.animated-centertext {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.header__content {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  box-sizing: border-box;
}

.header__title {
  font-weight: 700;
  font-family: "Montserrat";
  color: rgb(32, 32, 39);
  font-size: 64px;
}

.header__title-disc {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgb(32, 32, 39);
}

.header__span {
  font-weight: 600;
}

.header__button {
  margin-top: 24px;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: none;
  background: rgb(32, 32, 39);
  cursor: pointer;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 142%;
  color: white;
  transition: transform 0.2s ease;
}

.header__button:hover {
  background-color: white;
  border: solid 1px black;
  color: black;
  transition-delay: 3ms;
  transform: scale(1.1);
}

.main {
  position: relative;
  background: none;
  padding-top: 94px;
  z-index: 5;
  display: grid;
  justify-items: center;
}
.main__rightstar {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 0px;
  z-index: -1;
}
.main__downstars {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;
  position: absolute;
  left: 40px;
  z-index: -1;
}
.main__title {
  font-weight: 700;
  font-size: 64px;
  color: white;
  padding-bottom: 24px;
}
.main__title-disc {
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.main__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding-top: 72px;
  row-gap: 0px;
}
.main__link {
  text-decoration: none;
  width: 378px;
  transition: transform 0.2s ease;
}
.main__link-img {
  margin-bottom: 32px;
}
.main__link-fist {
  position: absolute;
  padding-top: 95px;
  padding-left: 132px;
  font-weight: 800;
  font-size: 82px;
  z-index: 3;
}
.main .main__link:hover {
  transition-delay: 3ms;
  transform: scale(1.1);
}
.main .numberone,
.main .numberthree {
  position: relative;
  height: 473px;
}
.main .numbertwo,
.main .numberfive {
  height: 512px;
}
.main .numberfour,
.main .numbersix {
  height: 551px;
}
.main__underframe {
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
.main__product {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  width: 378px;
}
.main__product-disc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  background-color: rgb(247, 247, 247);
  border-radius: 53px;
  color: black;
}
.main__product-title {
  color: rgb(32, 32, 39);
  font-weight: 700;
  font-size: 32px;
}

.minigames {
  position: relative;
  background: none;
}
.minigames__content {
  padding-bottom: 144px;
}
.minigames__upstars {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  padding-right: 44px;
}
.minigames__downstars {
  width: 120px;
  height: 120px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 30px;
  right: 45px;
  bottom: 0;
  padding-bottom: 45px;
}
.minigames__content-title {
  padding-bottom: 72px;
  padding-top: 46px;
  font-weight: 700;
  color: white;
  font-size: 64px;
}
.minigames__contentbox {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.minigames__card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  max-width: 1200px;
  height: 500px;
  z-index: 3;
}
.minigames__card-conteiner {
  display: flex;
  justify-content: center;
  width: 530px;
}
.minigames__card-title {
  font-weight: 700;
  font-size: 48px;
}
.minigames__card--box {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-top: 72px;
}
.minigames__card-disc {
  font-weight: 400;
  font-size: 24px;
}
.minigames__card-button {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: none;
  background: rgb(32, 32, 39);
  cursor: pointer;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 142%;
  color: white;
  transition: transform 0.2s ease;
}
.minigames__link-fist {
  transform: rotateZ(10deg);
  position: absolute;
  z-index: 3;
  font-size: 117px;
  padding-left: 234px;
  padding-top: 146px;
}
.minigames .minigames__card-button:hover {
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px black;
  color: black;
  transition-delay: 3ms;
  transform: scale(1.1);
}

.forgame__color {
  --bg-color: transparent;
  background-color: var(--bg-color);
  transition: background-color 0.4s ease;
}

.forgame__color {
  background-color: var(--bg-color);
  background-color: rgb(32, 32, 39);
}

.minigames__reverse-one {
  display: flex;
  flex-direction: row-reverse;
}
.minigames__reverse-one-two {
  display: flex;
  justify-content: flex-start;
}

.footer {
  height: 150px;
  box-sizing: border-box;
  background-color: rgb(188, 236, 48);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__box-title {
  display: flex;
  align-items: center;
}

.header__rightstar-mob {
  display: none;
}

.animated__strip-starmob {
  display: none;
}

.header__downstars-imgmobile {
  display: none;
}

.header__upstars-mob {
  display: none;
}

.header__biggreenstar-mob {
  display: none;
}

.minigames__card-imgmob {
  display: none;
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
    overflow-x: hidden;
  }
  .header {
    position: relative;
    height: 648px;
    padding-top: 147px;
  }
  .header__biggreenstar-mob {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }
  .header__title {
    position: relative;
    font-size: 40px;
    text-align: center;
  }
  .header__upstars-mob {
    position: absolute;
    display: flex;
    gap: 19px;
    scale: 0.5;
    top: 64px;
    left: 37px;
  }
  .animated {
    display: flex;
    height: 52px;
    overflow-x: hidden;
    white-space: nowrap;
  }
  .animated__strip-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap-mode: nowrap;
    animation: moveLeft 21s linear infinite;
  }
  .animated__strip-text .animated__strip-centertext {
    display: flex;
    height: 20px;
    gap: 28px;
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-wrap-mode: nowrap;
  }
  .header__button {
    position: relative;
    width: 285px;
    font-size: 16px;
  }
  .header__button-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .header__downstars {
    right: 34px;
    bottom: 28px;
    display: flex;
  }
  .header__downstars-imgmobile {
    height: 64px;
    position: absolute;
    right: 34px;
    bottom: 28px;
    display: flex;
    flex-wrap: wrap;
  }
  .header__rightstar {
    display: none;
  }
  .header__rightstar-mob {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .header__title-disc {
    font-size: 16px;
    line-height: 100%;
    text-align: center;
  }
  .header__br {
    display: none;
  }
  .main {
    display: none;
  }
  .header__downstars-desktop {
    display: none;
  }
  .header__upstars {
    display: none;
  }
  .minigames__card-img {
    display: none;
  }
  .minigames__content {
    padding-bottom: 10px;
  }
  .minigames__content-title {
    padding-bottom: 48px;
    padding-top: 48px;
    font-size: 40px;
  }
  .minigames__card-title {
    display: inline-block;
    font-size: 32px;
  }
  .minigames__card {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
    width: auto;
  }
  .minigames__card-conteiner {
    display: flex;
    flex-direction: column;
    max-height: 71vh;
    width: auto;
    padding-bottom: 32px;
  }
  .minigames__card-imgmob {
    display: block;
  }
  .minigames__card-disc {
    font-size: 4vw;
    display: inline-block;
  }
  .minigames__card-button {
    width: 285px;
    height: 55px;
    font-size: 16px;
  }
  .minigames__card--box {
    display: flex;
    padding-top: 30px;
    gap: 16px;
  }
  .reverse__one {
    width: auto;
    height: auto;
  }
  .reverse__one__two {
    width: auto;
    height: auto;
  }
  .minigames__link-fist {
    transform: rotateZ(10deg);
    position: absolute;
    z-index: 3;
    font-size: 117px;
    padding-left: 97px;
    padding-top: 48px;
  }
  .minigames__downstars {
    display: none;
  }
}
@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (min-width: 836px) and (max-width: 1210px) {
  .center {
    padding-left: calc(50% - 395px);
    padding-right: calc(50% - 395px);
  }
  .main .numberone {
    height: 551px;
  }
  .main .numberthree {
    height: 551px;
  }
  .main .numberfive {
    padding-bottom: 32px;
    height: 551px;
  }
  .main .numbertwo {
    height: 551px;
  }
  .main__content {
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(2, 381px);
    justify-content: center;
    padding-bottom: 32px;
  }
  .minigames {
    display: none;
  }
}
@media (min-width: 766px) and (max-width: 835px) {
  .center {
    padding-left: calc(50% - 395px);
    padding-right: calc(50% - 395px);
  }
  .animated {
    display: flex;
    justify-content: flex-end;
  }
  .main__content {
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(2, 381px);
    justify-content: center;
  }
  .header__title {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  .header__rightstar {
    display: flex;
    position: absolute;
    right: -58px;
    top: -80px;
    z-index: 0;
    scale: 0.8;
  }
  .header__title-disc {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  .header__downstars {
    display: none;
  }
  .header__button-link {
    text-align: center;
  }
  .minigames {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */