@import 'vars';

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "arial";
    font-size: 16px;
    overflow-x: hidden;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 710px;
    background-color: $maincolor-green;
    background-size: cover;
    padding-top: 196px;
    box-sizing: border-box;
    position: relative;

    &__upstars {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 36px;
        box-sizing: border-box;
        display: flex;
        position: absolute;
        top: 94px;
        left: 63px;
        z-index: 1;
    }

    &__downstars {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 36px;
        box-sizing: border-box;
        display: flex;
        position: absolute;
        right: 344px;
        bottom: 149px;
        z-index: 1;
    }

    &__rightstar {
        box-sizing: border-box;
        display: flex;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1;
    }

}

.animated {
    background-color: $stripgreen-color;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;

    &__strip-text {
        height: 36px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 51px;
        text-wrap-mode: nowrap;
        animation: moveLeft 21s linear infinite;
    }

    &-centertext {
        font-weight: 700;
        font-size: 30px;
        color: black;
    }
}

.header__content {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
    box-sizing: border-box;
}

.header__title {
    font-weight: 700;
    font-family: 'Montserrat';
    color: rgba(32, 32, 39, 1);
    font-size: 64px;

}

.header__title-disc {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: $color-grey;
}

.header__span {
    font-weight: 600;
}

.header__button {
    margin-top: 24px;
    width: 247px;
    height: 66px;
    border-radius: 60px;
    border: none;
    background: rgba(32, 32, 39, 1);
    cursor: pointer;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 142%;
    color: white;
    transition: transform 0.2s ease;

}

.header__button:hover {
    background-color: white;
    border: solid 1px black;
    color: black;
    transition-delay: 3ms;
    transform: scale(1.1);
}


// Об играх

.main {
    position: relative;
    background: none;
    padding-top: 94px;
    z-index: 5;
    display: grid;
    justify-items: center;

    &__rightstar {
        box-sizing: border-box;
        display: flex;
        position: absolute;
        right: 0px;
        z-index: -1;
    }

    &__downstars {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 18px;
        position: absolute;
        left: 40px;
        z-index: -1;
    }


    &__title {
        font-weight: 700;
        font-size: 64px;
        color: white;
        padding-bottom: 24px;

        &-disc {
            color: white;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        padding-top: 72px;
        row-gap: 0px;
    }

    &__link {
        text-decoration: none;
        width: 378px;
        transition: transform 0.2s ease;

        &-img {
            margin-bottom: 32px;
        }

        &-fist {
            position: absolute;
            padding-top: 95px;
            padding-left: 132px;
            font-weight: 800;
            font-size: 82px;
            z-index: 3;
        }
    }

    .main__link:hover {
        transition-delay: 3ms;
        transform: scale(1.1);
    }



    .numberone,
    .numberthree {
        position: relative;
        height: 473px;
    }

    .numbertwo,
    .numberfive {
        height: 512px;
    }

    .numberfour,
    .numbersix {
        height: 551px;
    }

    &__underframe {
        height: 91px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 16px;
        padding-left: 32px;
        padding-right: 32px;
    }

    &__product {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 30px;
        width: 378px;

        &-disc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 108px;
            height: 36px;
            font-weight: 500;
            font-size: 16px;
            background-color: rgba(247, 247, 247, 1);
            border-radius: 53px;
            color: black;
        }

        &-title {
            color: $color-grey;
            font-weight: 700;
            font-size: 32px;
        }
    }

}

//___________ мини игры__________

.minigames {
    position: relative;
    background: none;

    &__content {
        padding-bottom: 144px;

    }

    &__upstars {
        width: 120px;
        height: 120px;
        position: absolute;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        padding-right: 44px;
    }

    &__downstars {
        width: 120px;
        height: 120px;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 30px;
        right: 45px;
        bottom: 0;
        padding-bottom: 45px;
    }

    &__content-title {
        padding-bottom: 72px;
        padding-top: 46px;
        font-weight: 700;
        color: white;
        font-size: 64px;
    }

    &__contentbox {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 30px;
        max-width: 1200px;
        height: 500px;
        z-index: 3;

        &-conteiner {
            display: flex;
            justify-content: center;
            width: 530px;
        }

        &-title {
            font-weight: 700;
            font-size: 48px;
        }

        &--box {
            display: flex;
            flex-direction: column;
            gap: 36px;
            padding-top: 72px;

        }

        &-disc {
            font-weight: 400;
            font-size: 24px;
        }

        &-button {
            width: 247px;
            height: 66px;
            border-radius: 60px;
            border: none;
            background: rgba(32, 32, 39, 1);
            cursor: pointer;
            font-size: 24px;
            font-family: 'Montserrat';
            font-weight: 600;
            line-height: 142%;
            color: white;
            transition: transform 0.2s ease;
        }
    }

    &__link-fist {
        transform: rotateZ(10deg);
        position: absolute;
        z-index: 3;
        font-size: 117px;
        padding-left: 234px;
        padding-top: 146px;
    }

    .minigames__card-button:hover {
        background-color: rgba(255, 255, 255, 0);
        border: solid 1px black;
        color: black;
        transition-delay: 3ms;
        transform: scale(1.1);
    }

}

.forgame__color {
    --bg-color: transparent;
    background-color: var(--bg-color);
    transition: background-color 0.4s ease;
}

.forgame__color {
    background-color: var(--bg-color);
    background-color: rgba(32, 32, 39, 1);
}


.minigames__reverse-one {
    display: flex;
    flex-direction: row-reverse;

    &-two {
        display: flex;
        justify-content: flex-start;
    }

}


// ФУТЕР
.footer {
    height: 150px;
    box-sizing: border-box;
    background-color: $stripgreen-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &__box-title {
        display: flex;
        align-items: center;

    }
}

// DISPLAY--NONE FOR MOB

.header__rightstar-mob {
    display: none;
}

.animated__strip-starmob {
    display: none;
}

.header__downstars-imgmobile {
    display: none;
}

.header__upstars-mob {
    display: none;
}

.header__biggreenstar-mob {
    display: none;
}

.minigames__card-imgmob {
    display: none;
}

@keyframes moveLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@import 'mobile';