* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "arial";
  font-size: 16px;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 710px;
  background-color: rgb(225, 255, 143);
  background-size: cover;
  padding-top: 196px;
  box-sizing: border-box;
  position: relative;
}
.header__upstars {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 36px;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 94px;
  left: 63px;
  z-index: 1;
}
.header__downstars {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 36px;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 344px;
  bottom: 149px;
  z-index: 1;
}
.header__rightstar {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 1;
}
.header__strip {
  background-color: rgb(188, 236, 48);
  height: 90px;
  display: flex;
  align-items: center;
}
.header__strip .header__strip-text {
  height: 36px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 51px;
  text-wrap-mode: nowrap;
}
.header__strip-centertext {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.header__content {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  box-sizing: border-box;
}

.header__title {
  font-weight: 700;
  font-family: "Montserrat";
  color: rgb(32, 32, 39);
  font-size: 64px;
}

.header__title-disc {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgb(32, 32, 39);
}

.header__span {
  font-weight: 600;
}

.header__button {
  margin-top: 24px;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: none;
  background: rgb(32, 32, 39);
  cursor: pointer;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 142%;
  color: white;
  transition: transform 0.2s ease;
}

.header__button:hover {
  background-color: white;
  border: solid 1px black;
  color: black;
  transition-delay: 3ms;
  transform: scale(1.1);
}

.main {
  position: relative;
  box-sizing: border-box;
  height: 1470px;
  background-color: rgb(32, 32, 39);
  padding-top: 94px;
  z-index: 5;
}
.main__rightstar {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 0px;
  z-index: -1;
}
.main__downstars {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;
  position: absolute;
  left: 40px;
  z-index: -1;
}
.main__title {
  font-weight: 700;
  font-size: 64px;
  color: white;
  padding-bottom: 24px;
}
.main__title-disc {
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.main__content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  padding-top: 72px;
  max-height: 1470px;
  width: 1201px;
}
.main__flex {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.main__link {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  width: 378px;
  transition: transform 0.2s ease;
}
.main__link-img {
  margin-bottom: 32px;
}
.main__link-fist {
  position: absolute;
  padding-top: 95px;
  padding-left: 132px;
  font-weight: 800;
  font-size: 82px;
  z-index: 3;
}
.main .main__link:hover {
  transition-delay: 3ms;
  transform: scale(1.1);
}
.main .numberfour,
.main .numbersix {
  height: 551px;
}
.main .numbertwo,
.main .numberfive {
  position: relative;
  height: 512px;
}
.main .numberone,
.main .numberthree {
  height: 473px;
}
.main__underframe {
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
.main__product {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  width: 378px;
}
.main__product-disc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  background-color: rgb(247, 247, 247);
  border-radius: 53px;
  color: black;
}
.main__product-title {
  color: rgb(32, 32, 39);
  font-weight: 700;
  font-size: 32px;
}

.minigames {
  position: relative;
  background-color: rgb(32, 32, 39);
}
.minigames__content {
  padding-bottom: 144px;
}
.minigames__upstars {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  padding-right: 44px;
}
.minigames__downstars {
  width: 120px;
  height: 120px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 30px;
  right: 45px;
  bottom: 0;
  padding-bottom: 45px;
}
.minigames__content-title {
  padding-bottom: 72px;
  padding-top: 46px;
  font-weight: 700;
  color: white;
  font-size: 64px;
}
.minigames__contentbox {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.minigames__card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  max-width: 1200px;
  height: 500px;
  z-index: 3;
}
.minigames__card-conteiner {
  display: flex;
  justify-content: center;
  width: 530px;
}
.minigames__card-title {
  font-weight: 700;
  font-size: 48px;
}
.minigames__card--box {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-top: 72px;
}
.minigames__card-disc {
  font-weight: 400;
  font-size: 24px;
}
.minigames__card-button {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: none;
  background: rgb(32, 32, 39);
  cursor: pointer;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 142%;
  color: white;
  transition: transform 0.2s ease;
}
.minigames__link-fist {
  transform: rotateZ(10deg);
  position: absolute;
  z-index: 3;
  font-size: 117px;
  padding-left: 234px;
  padding-top: 146px;
}
.minigames .minigames__card-button:hover {
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px black;
  color: black;
  transition-delay: 3ms;
  transform: scale(1.1);
}

.footer {
  height: 150px;
  box-sizing: border-box;
  background-color: rgb(188, 236, 48);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__box-title {
  display: flex;
  align-items: center;
}

.header__rightstar-mob {
  display: none;
}

.header__strip-starmob {
  display: none;
}

.header__downstars-imgmobile {
  display: none;
}

.header__upstars-mob {
  display: none;
}

.header__biggreenstar-mob {
  display: none;
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
    overflow-x: hidden;
  }
  .header {
    position: relative;
    height: 648px;
    padding-top: 147px;
  }
  .header__biggreenstar-mob {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }
  .header__title {
    position: relative;
    font-size: 40px;
    text-align: center;
  }
  .header__upstars-mob {
    position: absolute;
    display: flex;
    gap: 19px;
    scale: 0.5;
    top: 64px;
    left: 37px;
  }
  .header__strip {
    display: flex;
    height: 52px;
  }
  .header__strip .header__strip-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 20px;
    gap: 28px;
  }
  .header__strip .header__strip-centertext {
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-wrap-mode: nowrap;
  }
  .header__button {
    position: relative;
    width: 285px;
    font-size: 16px;
  }
  .header__button-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .header__downstars {
    right: 34px;
    bottom: 28px;
    display: flex;
  }
  .header__downstars-imgmobile {
    height: 64px;
    position: absolute;
    right: 34px;
    bottom: 28px;
    display: flex;
    flex-wrap: wrap;
  }
  .header__rightstar {
    display: none;
  }
  .header__rightstar-mob {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .header__title-disc {
    font-size: 16px;
    line-height: 100%;
    text-align: center;
  }
  .header__br {
    display: none;
  }
  .main {
    display: none;
  }
  .header__downstars-desktop {
    display: none;
  }
  .header__upstars {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */